
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}
a{
    text-decoration: none;
    color:#1D1D1F ;
}
ul{
    list-style: none;
}
img { width: 100%; }
/* Header-section start */
header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 314px;
    padding: 10px;
    background-color: #F3FCF7;
   
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 10px;
    position: sticky;
 
}

.logo{
    height: 39px;
    width: 120px;
}
.menu-icon{
    height: 14px;
    width: 20px;
 
}
.menu-border{
    display: flex;
    height: 35px;
    width: 40px;
    border: 2px solid #06C167;
    justify-content: center;
    align-items: center;
}
/*for the mobile view*/
nav{
    display: none;
}

 /*hero-section*/
 .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:center;
    height: fit-content;
    gap: 50px;
 }
 .hero-title{
    display: flex;
    height: 186px;
    width: 300px;
    flex: 1;
    text-align: center;
    padding: 25px;
    font-size: 40px;
    line-height: 1.2;
    
 }
.hero-text{
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    padding: 0px 15px;
    width: 310px;
    height: 66px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    flex:1;
    width:90%;
    height: 68px;
    background-color: #06C167;
    align-items: center;
    padding: 20px 10px;
    column-gap: 22px;
    border: none;
    margin-top: 30px;

}
.hero-btn img{
    display: flex;
    height: 10px;
    width: 20px;
}
.hero-btn a{
    color: #FFFFFF;
    font-family:"Inter", sans-serif ;
    font-weight: 50;
}
.hero-img{
    display: flex;
    padding: 0px 10px;
    border-radius: 18px;
    max-width: 100%;

    
}
.hero-div{
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }

.logoipsum-mobile{
   display: flex;
    height: 100px;
    width:100vw;
    border: 1px solid #06C167;
    align-items: center;
    justify-content: center;
  

}
.logoipsum-mobile div {
    display: flex;
    height: 138px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoipsum-mobile div div, .logoipsum-img3, .logoispum-land{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 138px;
}
.logoipsum-mobile div div{
    gap: 30px}
   .logoispum-land{
        display: none;

       
    }

    .features{
        display: flex;
       
        height: 380px;
        width: 80vw;
        border-top: 1px solid#707070;
         border-bottom: 1px solid #707070;
         border-radius: 5px;
         align-items: center;
         margin-top:10px ;
    }
    .features-layout div{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 160px;
    }
    .features-layout div p{
        font-size: 10px;
    }
    .features-layout{
        display: flex;
        width: 100%;
        height: 400px;
       
       flex-wrap: wrap;
        justify-content: center;
        
    }
    #features-img{
        height: 26px;
        width: 38px;
    }
   .healthy-food-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    padding: 50px;
   }
   .healthy-food-content h2{
    font-size: 16px;
   }
   .healthy-food-content ul li{
        display: flex;
        font-size: 13px;
        gap: 10px;
   }
   .healthy-food-content ul li img{
    height: 19px;
    width: 26px;
    justify-content: center;
    align-items: center;
    align-self: center;
   }
   .healthy-food-content h2{
    display: flex;
    text-align: center;
   line-height: 40px;
    width: 250px;
    font-size: 29px;

}
  .veggie-food-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    padding: 50px;
   }
      .veggie-food-content h2{
    display: flex;
    text-align: center;
   line-height: 40px;
    width: 270px;
    font-size: 29px;

}
   .veggie-food-content ul li{
    text-align: center;
    line-height: 20px;
    margin-bottom: 30px;

   }
   .veggie-food-content ul li h3{
    color: #06C167;
   }
   .veggie-food-content ul li span{
    font-size: 8px;
    color: #1D1D1F;
   }
   .veggie-food-btn{
  
    display: flex;
    justify-content: center;
    flex:1;
    width:90%;
    height: 68px;
    background-color: #06C167;
    align-items: center;
    align-self: center;
    padding: 20px 10px;
   
    border: none;
   
  
   }
   .veggie-food-btn span{
    color: #FFFFFF ;
    width: 100px;
    height: 19px;
    font-size: 10px;
  display: flex;
  
  align-items: center;
   }
   .veggie-food-btn img{
    display: flex;
    width: 20px;
    height: 9px;
   }
   .veggie-food-img img{
    padding: 0px 50px;
   }
   .variety-food-heading div img{
    display: none;
   }
   .variety-food-heading div span{
    font-size: 9px;
   }
   .variety-food-heading div{
    line-height: 40px;
   }
   .variety-food-heading h4{
    display: none;
   }
   .variety-food-heading h3{
    font-size: 25px;
    width: 250px;
    text-align: center;
    word-spacing: 20px;
   }
   .variety-food-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .variety-boxes{
    display: flex;
    flex-direction: column;
    max-width: 500px;

   }
   #box{
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
   
   }
   .box1,.box2{
    flex-direction: row;
   }
   .box-img{
    height: 250px;
    width: 250px;
    display: flex;
   }
   .box1 img{
    width: 270px;
   }
   .box-content{
    height: 250px;
    width: 270px;
    border: 1px solid
     #06C167;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     background-color: #F0F1EC;
     padding-inline-start: 20px;
   }
   .box-content button{
    height: 40px;
    width: 130px;
    background-color: #F0EDE2;
    border: none;
    border-radius: 10px;
   }
   .box-content h4{
    
    width: 220px;
    font-size: 25px;
   }
   .box-content p{
    font-size: 13px;
    width: 190px;
   }
    .box-content button span{
        height: 8px;
        width: 50px;
        color: #06C167;
        margin-right: 5px;
    }
   .box-content button img{
    height: 6px;
    width: 12.22px;
    color: #06C167;
   }
   .popular-product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
   }
   .product-heading{
    height: 115px;
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
   }
   .product-heading span{
    font-size: 10px;
   }
   .product-title{
    display: flex;
    text-align: center;
    width: 170px;
    word-spacing: 10px;
    
   }
   #product-box{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
   }
   .banana-box{
    border:1px solid #06C167;
   }
   .papaya-box,.vegetable-box,.orange-box{
    border:1px solid #76767540 ;
   }
    #product-box ul{
        display: flex;
        gap: 6px;

    }
    #product-box button{
        display: flex;
        gap: 5px;
        height: 54px;
        width: 177px;
        align-items: center;
        justify-content: center;
        border: 1px solid #06C167;
    }
    #product-box button span{
        height: 17px;
        width: 87px;
        font-size: 15px;
        color: #06C167;
    }
    #product-box button img{
        height: 12px;
        width: 20px;
    }
    #product-box ul li img{
        height: 17px;
        width: 17;

    }
    .product-layout{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

   #image-box{
    height: 170px;
    width: 170px;
   }
   .old-price{
    text-decoration: line-through;
    color: #767675;
   }
   .number-span{
    color: #06C167;
   }
   .backround-img{
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    margin-top: 50px;
 

   }
   .shadow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    text-align: center;
   }
   .shadow h1{
    color: #FFFFFF;
    width: 290px;
    height: 126px;
   }
   .backround-img button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 79px;
    background-color: #06C167;
    border: none;
    border-radius: 10px;
   }
    .backround-img button span{
        height: 17px;
        width: 100px;
        font-size: 12px;
        color: white;

    }
        .backround-img button img{
        height: 10px;
        width: 17px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footer-logo{
        height: 38px;
        width: 100px;
    }
    .footer-description{
        height: 72px;
        width: 260px;
        text-align: center;
        color: #1D1D1F;
        font-size: 14px;
        align-items: center;
        display: flex;
    }
    .footer-socials{
        display: flex;
        height: 21px;
        width: 100px;
        column-gap: 20px;
        justify-content: center;
    }
     .footer-socials a img{
        height: 15px;
        width: 10px;
     }
    .footer-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-link{
        font-size: 13px;
    }
    .footer-title{
        font-size: 20px;
    }
    .footer-about, .footer-company, .footer-contact{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footer-contact{
        display: flex;
        text-align: center;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer-input, .footer-button{
        padding: 15px 30px;
        text-align: center;
        border: none;
    }
      .footer-input{
        background-color: #F0F1EC;
      }
      .footer-button{
        color: #FFFFFF;
        background-color: #06C167;
      }
      .footer-bottom{
        text-align: center;
      }
 @media screen and (min-width:1024px) {
    header{
       
            display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
        padding: 50px;
        
    }
    .menu-border{
        display:none
    }
    nav{
        display: inline-block;
       
    }
    .logo{
        height: 100px;
        width: 350px;
    }
    .navbar{
        display: flex;
        height: 300px;
      
        justify-content: space-around;
    }
    nav ul {
        display: flex;
        list-style: none;
        font-size: 25px;
        gap: 30px;
    }
    .hero-section{
       
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
       
        min-width: 800px;
       
       
        padding: 20px;
       ;
        }
         .hero-div{
            align-items: flex-start;
            flex: 1;
            min-width: 40vw;
            row-gap: 20px;
            
         }
        .hero-title{
            height: 40px;
            width: 396px;
            text-align: start;
            font-size: 60px;
            padding: 0;
         
        }
        .hero-text{
            width: 360px;
            text-align: start;
            padding: 0;
        }
        .hero-btn{
            width: 150px;
            gap:20px;
            border-radius: 15px;
        }
         .hero-img{
        flex: 2;
        align-self: flex-end;
        padding: 0px 0px;
        height: 700px;
        width: 497px;
        border-radius: 0;
    }
         .hero-img img{
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 18px;
         }
          .logoispum-land{
        display: flex;
        width: 200px;


       
    }
    .logoipsum-mobile div {
    display: flex;
  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding-left: 20px;
}
.first-ipsumimg img{
    display: flex;
    margin-right: 70px;
    gap: 70px;
    
    
}
.features-layout div{
    width: 200px;
}
.healthy-food{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.healthy-food-img{
    height: 500px;
    width: 500px;
}
 .healthy-food-content h2{
  
    text-align: center;
  

} 
.veggie-food{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
   
}
.veggie-food-content{
    line-height: 50px;
    align-items: start;
    padding-left: 0;
}
.veggie-food-content h2{
    text-align: left;
}
.veggie-food-img{
    height: 400px;
    width: 350px;
    background-color: #F3FAFB;
    display: flex;
     justify-content: end;
     align-self: center;
    
}
.veggie-food-img img{
    height: 80%;
    width: 75%;
    padding: 0;
   
}
  .veggie-food-btn{
    width: 150px;
    align-self: start;
    border-radius: 10px;
    
  }
  .veggie-food-content ul{
    display: flex;
    row-gap: 20px;
    margin-top: 20px;
  }
  .veggie-food-content ul li{
    width: 100px;
   align-content: flex-start;
  }
  .box1,.box2{
    flex-direction: row;
 
  }
.box1 img {
    width: 250px;
   
}
  .variety-boxes{
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  }
  .box3,.box4{
    display: flex;
    flex-direction: row-reverse;
  }
.box-content{
    width: 250px;
    flex-grow: 1;
}
.variety-food-heading h3{
    display: none;
}
.variety-food-heading h4{
    display: inline-block;
        font-size: 25px;
    width: 250px;
    text-align: center;
    word-spacing: 20px;
    margin-bottom: 50px;
    
}
.variety-food-section{
    margin-top: 20px;
}
   .variety-food-heading div img{
    display: inline-block;
    height: 20px;
    width: 20px;
    
   }
   .variety-food-heading div{
    display: flex;
    align-items: center;
    border: 1px solid #06C167;
    width: 120px;
    height: 30px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #F3FAFB;
   }
   .variety-food-heading div span{
    color: #06C167;
   } 

      .product-layout{
        display: flex;
        flex-direction: row;
        width: 900px;
        gap: 20px;
      }
      #product-box{
        height: 444px;
        width: 270px;
        flex-wrap: wrap;
        border-radius: 10px;
      }
      .backround-img{
        height: 300px;
        width: 800px;
        border-radius: 20px;
      }
      .shadow h1{
        width: 500px;
      }
      .footer-container{
        flex-direction: row;
        align-items: center;
      }
      .footer-form{
        flex-direction: row;
      }
      .footer-input, .footer-button{
        border-radius: 10px;
      }
      .footer-contact{
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding-top: 46px;
      }
      .footer-brand{
        gap: 0;
        padding-top: 12px;
      }
      .footer-logo{
        height: 32px;
      }
      
 
}


