
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}
a{
    text-decoration: none;
    color:#1D1D1F ;
}
ul{
    list-style: none;
}
img { width: 100%; }
/* Header-section start */
header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 314px;
    padding: 10px;
    background-color: #F3FCF7;
   
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 10px;
    position: sticky;
 
}

.logo{
    height: 39px;
    width: 120px;
}
.menu-icon{
    height: 14px;
    width: 20px;
 
}
.menu-border{
    display: flex;
    height: 35px;
    width: 40px;
    border: 2px solid #06C167;
    justify-content: center;
    align-items: center;
}
/*for the mobile view*/
nav{
    display: none;
}

 /*hero-section*/
 .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:center;
    height: fit-content;
    gap: 50px;
 }
 .hero-title{
    display: flex;
    height: 186px;
    width: 300px;
    flex: 1;
    text-align: center;
    padding: 25px;
    font-size: 40px;
    line-height: 1.2;
    
 }
.hero-text{
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    padding: 0px 15px;
    width: 310px;
    height: 66px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    flex:1;
    width:90%;
    height: 68px;
    background-color: #06C167;
    align-items: center;
    padding: 20px 10px;
    column-gap: 22px;
    border: none;
    margin-top: 30px;

}
.hero-btn img{
    display: flex;
    height: 10px;
    width: 20px;
}
.hero-btn a{
    color: #FFFFFF;
    font-family:"Inter", sans-serif ;
    font-weight: 50;
}
.hero-img{
    display: flex;
    padding: 0px 10px;
    border-radius: 18px;
    max-width: 100%;

    
}
.hero-div{
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }

.logoipsum-mobile{
   display: flex;
    height: 100px;
    width:100vw;
    border: 1px solid #06C167;
    align-items: center;
    justify-content: center;
  

}
.logoipsum-mobile div {
    display: flex;
    height: 138px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoipsum-mobile div div, .logoipsum-img3, .logoispum-land{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 138px;
}
.logoipsum-mobile div div{
    gap: 30px}
   .logoispum-land{
        display: none;

       
    }

    .features{
        display: flex;
       
        height: 380px;
        width: 80vw;
        border-top: 1px solid#707070;
         border-bottom: 1px solid #707070;
         border-radius: 5px;
         align-items: center;
         margin-top:10px ;
    }
    .features-layout div{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 123px;
    }
    .features-layout div p{
        font-size: 10px;
    }
    .features-layout{
        display: flex;
        width: 100%;
        height: 400px;
       
       flex-wrap: wrap;
        justify-content: center;
        
    }
    #features-img{
        height: 26px;
        width: 38px;
    }
   .healthy-food-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    padding: 50px;
   }
   .healthy-food-content h2{
    font-size: 16px;
   }
   .healthy-food-content ul li{
        display: flex;
        font-size: 13px;
        gap: 10px;
   }
   .healthy-food-content ul li img{
    height: 19px;
    width: 26px;
    justify-content: center;
    align-items: center;
    align-self: center;
   }
  
 @media screen and (min-width:1024px) {
    header{
       
            display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
        padding: 50px;
        
    }
    .menu-border{
        display:none
    }
    nav{
        display: inline-block;
       
    }
    .logo{
        height: 100px;
        width: 350px;
    }
    .navbar{
        display: flex;
        height: 300px;
      
        justify-content: space-around;
    }
    nav ul {
        display: flex;
        list-style: none;
        font-size: 25px;
        gap: 30px;
    }
    .hero-section{
       
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
       
        min-width: 800px;
       
       
        padding: 20px;
       ;
        }
         .hero-div{
            align-items: flex-start;
            flex: 1;
            min-width: 40vw;
            row-gap: 20px;
            
         }
        .hero-title{
            height: 40px;
            width: 396px;
            text-align: start;
            font-size: 60px;
            padding: 0;
         
        }
        .hero-text{
            width: 360px;
            text-align: start;
            padding: 0;
        }
        .hero-btn{
            width: 150px;
            gap:20px;
            border-radius: 15px;
        }
         .hero-img{
        flex: 2;
        align-self: flex-end;
        padding: 0px 0px;
        height: 700px;
        width: 497px;
        border-radius: 0;
    }
         .hero-img img{
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 18px;
         }
          .logoispum-land{
        display: flex;
        width: 200px;


       
    }
    .logoipsum-mobile div {
    display: flex;
  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding-left: 20px;
}
.first-ipsumimg img{
    display: flex;
    margin-right: 70px;
    gap: 70px;
    
    
}
.features-layout div{
    width: 200px;
}

  
}
